<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Your files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <style media="screen" type="text/css">
        .mintB {
            background: #4db6ac;
        }
        .mint {
            color: #4db6ac;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">The backuper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/file}">Backup files</a></li>
            <li><a th:href="@{/files}">Your files</a></li>
            <li><a href="#" th:href="@{/logout}">Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center mintB">
    <h1>The backuper</h1>
    <p>Back up your files with our service to be safe and sound!</p>
</div>
<div class="wrapper col-lg-8 col-xl-8 col-md-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
    <table class="table table-hover table-stripped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
        <tr th:each="file : ${files}" th:href="@{/user/} + ${userId} + @{/file/} + ${file.id}">
            <td th:text="${file.id}"></td>
            <td th:text="${file.name}"></td>
            <td th:switch="${file.type}">
                <a th:case="'file'"><span class="glyphicon glyphicon-file mint"></span></a>
                <a th:case="'video'"><span class=" glyphicon glyphicon-film mint"></span></a>
                <a th:case="'text'"><span class="glyphicon glyphicon-font mint"></span></a>
                <a th:case="'music'"><span class="glyphicon glyphicon-music mint"></span></a>
                <a th:case="'img'"><span class="glyphicon glyphicon-picture mint"></span></a>
                <a th:case="*"><span class="glyphicon glyphicon-file mint"></span></a>
            </td>
            <td><a class="btn glyphicon glyphicon-download-alt" th:href="@{/user/} + ${userId} + @{/file/} + ${file.id}"></a></td>
            <td><form method="POST" th:action="@{/user/} + ${userId} + @{/file/} + ${file.id} + @{/delete}">
                <input class="btn glyphicon glyphicon-trash" style="background-color:#FF8784" type="submit" value="Delete" />
            </form></td>
        </tr>
    </table>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>