<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>The backuper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <style media="screen" type="text/css">
        .mintB {
            background: #4db6ac;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">The backuper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/file}">Backup files</a></li>
            <li><a th:href="@{/files}">Your files</a></li>
            <li><a href="#" th:href="@{/logout}">Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center mintB">
    <h1>The backuper</h1>
    <p>Back up your files with our service to be safe and sound!</p>
</div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
