<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <style media="screen" type="text/css">
        .mintB {
            background: #4db6ac;
        }
        .mintH:hover {
            background: #4dc5bd;
        }
        .mintH:focus{
            background: #4dc5bd;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">The backuper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a href="#" th:href="@{/login}">Log in</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center mintB">
    <h1>The backuper</h1>
    <p>Back up your files with our service to be safe and sound!</p>
</div>
<br/><br/><br/>
<div class="wrapper col-lg-4 col-xl-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
    <h1 class="text-center">Register</h1>
    <form class="form-signin form-group" th:action="@{/register}" th:object="${User}" method="post">
        <input style="margin-bottom: 15px" type="text" class="form-control" name="login" placeholder="Login" required=""  />
        <input style="margin-bottom: 15px" type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <button class="btn btn-lg btn-primary btn-block mintB mintH" type="submit">Create account</button>
    </form>
    <h4 class="text-center colorful mintT"><a href="" th:href="@{/login}">Log in</a></h4>
    <div th:if="${failed}" class="alert alert-danger" id="error-alert">
        There is already user with given login.
    </div>
    <div th:if="${success}" class="alert alert-info" id="success-alert">
        You have been registered.
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#success-alert").slideUp(500);
        });
        $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#error-alert").slideUp(500);
        });
    </script>
</body>
</html>