<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload file</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <style media="screen" type="text/css">
        .mintB {
            background: #4db6ac;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">The backuper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/file}">Backup files</a></li>
            <li><a th:href="@{/files}">Your files</a></li>
            <li><a href="#" th:href="@{/logout}">Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center mintB">
    <h1>The backuper</h1>
    <p>Back up your files with our service to be safe and sound!</p>
</div>
<div class="wrapper col-lg-4 col-xl-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
    <form method="POST" enctype="multipart/form-data" action="/uploadfile">
        <h4>File to upload:</h4>
        <input class="btn glyphicon glyphicon-upload btn-lg btn-primar " type="file" name="file" />
        <input class="btn btn-lg btn-primary btn-block mintB mintH" type="submit" value="Backup files" />
    </form>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>